<div class="modal fade fullmodal-right" id="advencedSearchProductModal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-lg" style="width:25% !important;" role="document">

			<div class="modal-content" style="position:relative">
				 
				<div class="modal-header">
					<h5 id="modalAdvancedProductTitle" class="modal-title">Advanced Search</h5>
					<button id="btnCloseAdvancedSearchProduct" type="button" class="btn-close border-0" data-bs-dismiss="modal"><i class="fas fa-close"></i></button>
				</div>
				 
				<form method="post">

					<div class="modal-body">


 
					</div>

					<div class="card-footer text-right bg-white border-top">

						<button id="btnSearchProduct" type="button" class="btn btn-primary" style="width:100px">
							<span class="spinner-border spinner-border-sm d-none" id="btnSeachProductSpinner" role="status" aria-hidden="true"></span>
							<i class="fas fa-search"></i> Search
						</button>

					</div>



				</form>

			</div>

		</div>
	</div>