<div class="modal fade" id="logoutModal" tabindex="-1">
    <div id="logoutModalDialog" class="modal-dialog modal-dialog-centered">
        <div id="logoutModalContent" class="modal-content" style="border-radius:12px;">

            <div class="modal-header">
                <h5 id="logoutModalTitle" class="modal-title">Confirm Logout</h5> 
            </div>

            <div id="logoutModalBody" class="modal-body text-center">
                Are you sure you want to log out?
            </div>

            <div id="logoutModalFooter" class="modal-footer justify-content-center">
                <button type="button" class="btn-border-gradient p-2" data-bs-dismiss="modal" style="width:70px">
                    No
                </button>

                <button type="button" id="btnConfirmLogout" class="btn-border-gradient p-2" style="width:70px">
                    Yes
                </button>
            </div>

        </div>
    </div>
</div>