
.home{
    max-width:1240px;
    margin: 70px auto 0px auto;
}

.home-banner-info{ 
    position:absolute;
    left:100px;
    bottom:100px; 
}

.home-banner-arrow{
    width:50px; height:50px; top:45%
}

.home-banner-shop-now {
    margin-left: 20px;s
}

.home-banner-numbers { 
    color:#FFFFFF;
    margin-top:50px;
    border-radius:5px;
}

.home-banner-numbers-counter-label {
    padding:0px 20px 0px 20px;
}

.home-banner-numbers-counter {
    font-family: Black Ops One;
    font-weight: 400;
    font-style: normal;
    font-size: 40px; 
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
}

.home-banner-numbers-label{
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 16px; 
    line-height: 22px;
    letter-spacing: 0;
}

.home-brand-bar {
    background-color: #F57906;
    height: 122px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.brand-track {
    max-width:1240px;
    display: flex;
    white-space: nowrap; 
    width: max-content; /* 🔥 VERY IMPORTANT */
}

.home-brand {
    min-width: 120px;
    height: 120px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.home-brand-image {
    max-height: 100px;
    max-width: 200px;
}

.home-new-arrival {
    
}

.home-new-arrival-title {
    color: #FFFFFF;
    font-family: Black Ops One;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle; 
}

.home-new-arrival-content{ 
    margin-top:70px; 
}

.home-new-arrival-product-list{
    display:inline-block
}

.home-new-arrival-product-cover {
    background: #ffffff;
    max-width:300px;
    max-height:300px;
    width: 100%;
    aspect-ratio: 1 / 1; /* ✅ makes it PERFECT square */
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-new-arrival-product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.home-new-arrival-product-info{ 
    color: #FFFFFF;
    padding:15px 0px 15px 0px;
}

.home-new-arrival-product-name {
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle; 
}

.home-new-arrival-product-brand {
    padding:5px 0px 5px 0px;
}

.home-new-arrival-product-brand-icon {
    color: #F57906;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}

.home-new-arrival-product-brand-name{
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle; 
}
 
.home-new-arrival-product-price {
    font-family: Inter;
    font-weight: 700;
    font-style: bold;
    font-size: 24px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0;
    vertical-align: middle;
    padding:15px 0px 15px 0px;
}

.home-horizontal-separator {
    border: none; /* remove default border */
    height: 1px; /* line thickness */
    background-color: #FFFFFF; /* line color */
    margin: 75px 0px 75px 0px
}
   
.home-banner-advertising { 
    max-width:1240px;
    margin:0px auto 0px auto;
}

.home-banner-advertising-image{
    border-radius: 20px;
    width:100%;
}

.home-about{
    max-width:1240px;
    margin:0px auto 0px auto;
}
 
/* IMAGE */
.home-about-image {
    width:570px;
    height:570px; 
    object-fit: cover;
    border-radius: 43px;
    display: block;
}

/* TITLE */
.home-about-title {
    color: #FFFFFF;
    font-family: 'Black Ops One', cursive;
    font-size: 48px;
    line-height: 1.1;
    margin-left: 40px;
    margin-bottom: 50px;
}

/* GLASS BOX */
.home-about-row {
    align-items: stretch;
}
  
/* COVER */
.home-about-cover {
    position: absolute; 
    background: linear-gradient(102deg, rgba(255,255,255,0.10) 10%, rgba(255,255,255,0.03) 84%);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    top:-49%;
    left:-25%;
    right:0;
    bottom:-49%;
    max-width: 760px;
    max-height: 296px;
    border-radius: 32px;
}

/* TEXT */
.home-about-text {
    color: #FFF;
    max-width:468px;
    font-weight:normal;
    font-family: Inter;
    font-size: 20px;
    line-height: 1.6;
    margin:0px auto 0px auto;
}

.home-category {
    background: linear-gradient(102.53deg, rgba(255, 255, 255, 0.1) 10.88%, rgba(255, 255, 255, 0.03) 83.94%);
    backdrop-filter: blur(8px);
    border: 1px solid #FFFFFF42;
    max-width: 1240px;
    margin: 0px auto 0px auto;
    opacity: 1;
    border-radius: 45px;
    border-width: 1px;
    padding:75px;
}

.home-category-title {
    color:#FFFFFF;
    font-family: Black Ops One;
    font-weight: 400;
    font-style: normal;
    font-size: 48px; 
    line-height: 100%;
    letter-spacing: 0;
    text-align: center; 
    vertical-align: middle; 
    opacity: 1;
}
 
.home-category-content {
    margin-top: 30px;
}

.category-box-cover{
    position:relative;
    overflow:hidden;
    border-radius: 20px;
}

.category-box-large {
    width: 100%;
    max-width: 1112px;
    aspect-ratio: 1112 / 289;
    object-fit: cover;
    transition:.5s;
    cursor:pointer;
}

.category-box-large:hover{
    transform:scale(1.1);
}

.category-box-small {
    width: 100%;
    max-width: 407px;
    aspect-ratio: 407 / 289;
    object-fit: cover;
    transition: .5s;
    cursor: pointer;
}

.category-box-small:hover{ 
    transform:scale(1.1); 
}

.category-box-medium {
    width: 100%;
    max-width: 685px;
    aspect-ratio: 685 / 289;
    object-fit: cover;
    transition: .5s;
    cursor: pointer;
}

.category-box-medium:hover{
    transform:scale(1.1);
}

.home-category-description {
    position: absolute;
    top: 25px;
    left: 50px;
    color: white;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
 
.home-category-description {
    position:absolute;
    top:25px;
    left:50px;
    color: white;
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

@media (max-width:768px) {
    .home-category-description {
        top: 15px;
        left: 20px;
        font-size: 22px;
    }
}
