.home-brand-bar {
    background-color: #F57906;
    height: 122px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.brand-track {
    display: flex;
    white-space: nowrap; 
    width: max-content; /* 🔥 VERY IMPORTANT */
}

.home-brand {
    min-width: 120px;
    height: 120px;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.home-brand-image {
    max-height: 100px;
    max-width: 200px;
}

.home-new-arrival {
    margin: 70px 100px 0px 100px;
}

.home-new-arrival-title {
    color: #FFFFFF;
    font-family: Black Ops One;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle; 
}

.home-new-arrival-content{ 
    margin-top:70px; 
}

.home-new-arrival-product-list{
    display:inline-block
}

.home-new-arrival-product-cover {
    background: #ffffff;
    width: 100%;
    aspect-ratio: 1 / 1; /* ✅ makes it PERFECT square */
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-new-arrival-product-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
