body {
   
}

.signup {
    background: url('/Images/GENERAL/SignUp.webp');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1240px;
    min-height: 882px;
    margin:70px auto 0px auto;
}

.signup-input-wrapper {
    width: 300px;
}
 
.signup-input {
    width: 100%;
    height: 40px;
    opacity: 1;
    border-radius: 20px;
    border: none;
    gap: 10px;
    padding: 16px;
}

.signup-input:focus {
    outline: none;
}

.signup-text-center{
    text-align:center;
}

.signup-already-have-an-account {
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 400;
    font-style: normal;
    font-size: 9.96px;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
}

.signup-login {
    color: #FFFFFF;
    font-family: Inter;
    font-weight: bold;
    font-style: normal;
    font-size: 9.96px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    transition: .5s;
    cursor: pointer;
}

.signup-login:hover {
    color: gainsboro;
}


.country-dropdown {
    position: relative;
    width: 100%;
}

.selected-country {
    background: #fff;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selected-country img {
    width: 20px;
    margin-right: 6px;
}

.country-list {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    display: none;
    z-index: 999;
}

.country-item {
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.country-item img {
    width: 20px;
    margin-right: 6px;
}

.country-item:hover {
    background: #f1f1f1;
}

