html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin:0;
}

.btn-orange {
    background-color: #be202f !important;
    /*    border:2px solid #c63428;*/
    color: #ffffff;
    transition: .5s;
}

.btn-orange:hover {
    background-color: #000000 !important;
    color: #ffffff;
}

.admin-login-logo{
    max-width:300px;
    width:100%;
}

.error-handling {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0; /* place at bottom */
    margin: 0;
    padding: 15px;
    border-radius: 0;
    background-color: #f44336; /* red background for error */
    color: white;
    text-align: center;
    z-index: 1050; /* above other elements */
}